/*
!.gitignore
!lit-mag.html
!lit-mag-pricing.html
!lit-mag-submit.php
!react-apps/
react-apps/*
!react-apps/.eslintrc.json
!react-apps/package.json
!react-apps/README.md
!react-apps/build/
!react-apps/config/
!react-apps/public/
!react-apps/scripts/
!react-apps/src/