# We need the css for react-activity module
!react-apps/node_modules/
react-apps/node_modules/*
!react-apps/node_modules/react-activity/
react-apps/node_modules/react-activity/*
!react-apps/node_modules/react-activity/dist/
react-apps/node_modules/react-activity/dist/*
!react-apps/node_modules/react-activity/dist/react-activity.css
