/*
!.gitignore
!lit-mag.html
!lit-mag-pricing.html
!lit-mag-submit.php
!react-apps/
react-apps/*
!react-apps/.eslintrc.json
!react-apps/package.json
!react-apps/README.md
!react-apps/build/
!react-apps/config/
!react-apps/public/
!react-apps/scripts/
!react-apps/src/

# We need the css for react-activity module
!react-apps/node_modules/
react-apps/node_modules/*
!react-apps/node_modules/react-activity/
react-apps/node_modules/react-activity/*
!react-apps/node_modules/react-activity/dist/
react-apps/node_modules/react-activity/dist/*
!react-apps/node_modules/react-activity/dist/react-activity.css