.FormContainer {
  margin: 40px auto;
}

.FormBody {
  margin: 10px auto;
  border-radius: 3px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 5px -2px rgba(68, 78, 87, 0.6);
}

.HeaderFooter {
  text-align: center;
  margin: 5px auto 30px auto;
  width: 90%;
  max-width: 600px;
}

.Footer {
  margin-top: 30px;
  margin-bottom: 5px;
}
