body{
	text-align:center;
		background-color: #CCC;
}
body, p, li, td		{
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 11px;
	}
#frame{
	margin:0px auto 10px auto;
	width:600px;
	text-align:left;
}

#heading	{
	padding-top:20px;
}
#content	{
	width:600px;
	margin:0px auto 0px auto;
	text-align:left;
}
.subcontent	{background:#E9DAB7; margin:20px 0px 10px 0px;}
h1, h2, h3, h4, h5, h6 {
	font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
	color:#C00;
	}
h1, .h1		{
	font-size:24px;
	color:#900;
	text-align: center;
}
h2, .h2		{font-size:18px}
h3, .h3		{
	font-size:18px;
	color: #060;
}
h4, .h4		{font-size:12px}
h5, .h5		{font-size:11px}
h6, .h6		{font-size:10px}
.h4			{text-align:right}
h2{border-top:solid 1px #962;padding-top:5px;}
.head		{color:#000; font-size:11px}
.article	{font-size:14px}
th			{font-weight:bold;font-family: Comic Sans MS, Arial, Helvetica, sans-serif;font-size:12px; text-align:left;}
.smalltype	{font-size:10px;}
a			{font-weight:bold; color:#962}/*Green: #673 (6C7E34)*/
a:hover		{color: #C00;}
legend		{font-size:14px}
.legend		{font-size:14px}
/* FORMS */

#content_box {
	width:550px;
	height:auto !important;
	margin:0px auto 10px auto;
	text-align:left;
}
.field_pair {
	clear:both;
	float:left;
	margin:1px;
	width:270px;
	}
.label {
	float:left;
	width:100px;
	padding:4px 5px 0px 0px;
	text-align:right;
	}
.field {
	float:left;
	padding:4px 0px 0px 0px;
	font-weight:bold;
	width:160px;
/*	background:#F66;*/
	}
.input {
	float:left;
	padding:0px 0px 0px 0px;
	}
/* ################### TESTIMONIALS ################### */
.test-school{
	color:#C00;
	padding-top:10px;
	
}
.test-container-left, .test-container-right, .test-container-center{
	float:left;
	width:100%;
	padding:10px;
	text-align:left;
}
.test-container-left, .test-container-center{
	background:#000;
}
.test-container-right{
	text-align:right;
	background-color: #000;
}
.test-container-left .test-pic{
	float:right;
	padding-left:10px;
	padding-bottom:10px;
}
.test-container-right .test-pic{
	float:left;
	padding-right:10px;
	padding-bottom:10px;
}
.test-container-center .test-pic{
	text-align:center;
	padding-bottom:10px;
}
.plist li{
	padding-top:5px;
	padding-bottom:5px;
}
#price_table{
	border:none;
	border-collapse: collapse;
}
#price_table td, #price_table th{
	border:solid 1px #962;
	width:40px;
	padding:2px;
}
#price_table td{
	text-align:right;
	padding-right:7px;
}
#price_table th{
	background:#000;
	color:#FFF;
	text-align:center;
}
#price_table #corner_td{
	font-weight:bold;
	border:none;
}
.actions_table{
	border:none;
	border-collapse: collapse;
}
.actions_table td, .actions_table th{
	border:solid 1px #962;
	padding:2px;
}
.actions_table th{
	background:#852;
	color:#FFF;
	text-align:center;
}
#home_callout{
	margin-top:50px;
	padding-top:50px;
	height:500px;
}
#home_callout_content{
	padding-right:280px;
	font-size:14px;
	font-weight:bold;
	line-height:1.5;
}
	#submenu{
		text-align:right;
		padding-top:4px;
		padding-bottom:20px;
		padding-right:20px;
	}
	#submenu a{
		padding-left:8px;
		padding-right:8px;
		border-right:solid 1px #000;
	}
	#submenu a.last{
		border-right:none;
	}
	#submenu a.selected{
		color:#000;
		padding-left:18px;
		background:url(images/pointer.gif) no-repeat 8px 1px;
		text-decoration:none;
/*		display:none;*/
	}
#tabs{
	padding-bottom:15px;
}.body_text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
}
.Prices {
	font-size: 16px;
	font-weight: normal;
	color: #C00;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-decoration: none;
	vertical-align: middle;
	letter-spacing: normal;
	word-spacing: normal;
	height: auto;
	text-align: right;
}
.yellow {
	color: #03F;
}
#frame #testimonials .test-container-left .test-copy-b {
	color: #000;
}
.white {
	color: #FFF;
}
.privacy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
}
Opinion {
	color: #00C;
}
.body_text .Orange {
	text-align: center;
}
Opinion {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #03C;
}
.Orange {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #00C;
}
.body_text .Orange .last .Orange .Orange {
	font-family: Verdana, Geneva, sans-serif;
}
.body_text .Orange .last .Orange .Orange {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.body_text .Orange .last .Orange .Orange {
	color: #00C;
	text-align: center;
	font-size: 24px;
}
.body_text .prod_head .last .Orange .Orange .Orange {
	text-align: center;
}
