.LitMag {
	width: 80%;
	margin: auto;
}

.DarkGreen {
	color: #060;
}

.LightBlue {
	background-color: #64ABD1;
}

.PricingHeader {
	margin: 20px auto auto auto;
	color: #777;
	text-align: center;
	width: 90%;
  max-width: 675px;
}

.QuoteToggle {
	margin-bottom: 30px !important;
}

.SubmitDiv {
	position: relative;
	padding-top: 20px;
	padding-bottom: 80px;
	margin-top: 30px;
}

.SubmitAlert {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: -50px;
}